# Node dependencies
backend/node_modules/
frontend/node_modules/

# Optional: logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example
!frontend/.env.example
!backend/.env.example

# Build output
backend/dist/
frontend/dist/
